table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.picture img{
    height: 80px;
    width: 80px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    margin-bottom: 20px;
    margin-left: 20px;

    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}